body {
	background-color: #e0e0e0;
}

.card {
	margin-bottom: 20px;
}

#total-orders {
	background-color: #196075;
}

#orders-delivered {
	background-color: #2796B8;
}

#orders-pending {
	background-color: #2FB3DB;
}

