{% extends 'accounts/index.html' %}

{% block content %}

	<br>
	<main role="main" class="container-fluid">
			<div class="col-md">
				<div class="card card-body"> 
					<h4 class="text-center">Products</h4>
					<br>
					<table class="table" style="border-top: none;">
						<tr>
							<th>Product</th>
							<th>Category</th>
							<th>Price</th>
						</tr>

						{% for product in products %}
						<tr>
							<td>{{product.name}}</td>
							<td>{{product.category}}</td>
							<td>{{product.price}}</td>
						</tr>					
						{% endfor %}
						
					</table>
				</div>
			</div>
	</main>


{% endblock %}