
<br>

<div class="container-fluid">
	<div class="row">
		
	<!-- Total Orders Status -->
		<div class="col-md col-sm">
			<div class="card text-center text-white" id="total-orders">	
				<div class="card-header">
					<h5>&nbspTotal&nbspOrders</h5>
				</div>
				<div class="card-body" id="total-orders-body">
					<h3>{{total_orders}}</h3>
				</div>
			</div>
		</div>

	<!-- Orders Delivered Status -->
		<div class="col-md col-sm">
			<div class="card text-center text-white" id="orders-delivered">	
				<div class="card-header">
					<h5>&nbspOrders&nbspDelivered</h5>
				</div>
				<div class="card-body">
					<h3>{{delivered}}</h3>
				</div>
			</div>
		</div>

	<!-- Orders Pending Status -->
		<div class="col-md col-sm">
			<div class="card text-center text-white" id="orders-pending">	
				<div class="card-header">
					<h5>&nbspOrders&nbspPending</h5>
				</div>
				<div class="card-body">
					<h3>{{pending}}</h3>
				</div>
			</div>
		</div>
	</div>
</div>

